@font-face {
    font-family: "Nordic Alternative";
    src: url("https://matejmazur.net/font/nordic/Nordic Alternative Regular.ttf") format("truetype");
}

body, .nordic {
    font-family: "Nordic Alternative", Arial, sans-serif;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

:root {
    /* My color scheme */
    --light-100: #CEE5F2;
    --light-200: #ACCBE1;
    --light-300: #7C98B3;
    --yellow: #F4C244;
    --gray: #222529;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body[data-bs-theme="light"] {
    --bs-body-bg: var(--yellow);
    --bs-body-color: var(--light-300);
    --bs-emphasis-color: var(--light-200);
    --bs-secondary-color: var(--gray);
}
body[data-bs-theme="dark"] {
    --bs-body-bg: var(--gray);
    --bs-body-color: var(--light-300);
    --bs-emphasis-color: var(--light-200);
    --bs-secondary-color: var(--yellow);
}