@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&display=swap');

@font-face {
    font-family: "Nordic Alternative";
    src: url("https://matejmazur.net/font/nordic/Nordic Alternative Regular.ttf") format("truetype");
}

.nordic {
    font-family: "Nordic Alternative", Arial, sans-serif;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

.rubik {
    font-family: "Rubik Mono One", monospace;
}

:root {
    /* My color scheme */
    --light-100: #CEE5F2;
    --light-200: #ACCBE1;
    --light-300: #7C98B3;
    --yellow: #F4C244;
    --yellow-rgb: 244, 194, 68;
    --gray: #222529;
    --gray-rgb: 34, 37, 41;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body[data-bs-theme="light"] {
    --bs-body-bg: var(--yellow);
    --bs-body-color: var(--light-300);
    --bs-emphasis-color: var(--light-200);
    --bs-secondary-color: var(--gray);
    --bs-dark-rgb: var(--gray-rgb);
}
body[data-bs-theme="dark"] {
    --bs-body-bg: var(--gray);
    --bs-body-color: var(--light-300);
    --bs-emphasis-color: var(--light-200);
    --bs-secondary-color: var(--yellow);
    --bs-dark-rgb: var(--yellow-rgb);
}
body{
    transition: background-color 0.4s ease-out;
}

.screen{
    scroll-snap-align: start;
    position: relative;
    height: 100vh;
    width: 100%;
}

.bg-intro{
    background-image: url("/img/Bg.png");
    background-size: cover;
    background-position: left;
    padding-top: 6em;
    padding-bottom: 6em;
}
.bg-intro-content{
    height: 100%;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
}
.intro-content-text h2{
    font-size: 128px;
}
@media (max-width: 576px) {
    .intro-content-text h2{
        font-size: 56px;
    }
}

.links{
    border-left: 1px solid #FFF;
    height: 80%;
    padding-left: 1em;
}

.links .b-home{
    font-size: 2em;
    text-align: left;
}

.links a{
    width: 100%;
    color: #FFF;
    text-decoration: none;
}

.bg-intro-links{
    padding-right: 3em;
}



/* Index.html */
.circle-color, .person-color {
    transition: fill 0.4s ease-out;
}
svg#theme-switcher {
    cursor: pointer;
}
svg#theme-switcher {
    width: 612px;
    height: 600px;
}

/* Media query for phone screens */
@media (max-width: 576px) {
    svg#theme-switcher {
        width: 400px;
        height: 392px;
    }
    .hidden-right {
        position: absolute;
        right: -20%; /* Move element far enough to the right to hide it completely */
        bottom: -5%;
        width: 100%;
    }
}

.about-me-title{
    padding-left: 5rem
}
.about-me-title h2{
    font-size: 7rem
}
.about-me-content{
    padding-left: 5em;
    padding-bottom: 3em;
}
.color-stripes {
    position: absolute;
    top: 0;
    right: 0;
}
div.media div a i {
    font-size: 4em;
}
@media (max-width: 576px) {
    .about-me-title h2{
        font-size: 5rem;
    }
    .about-me-title{
        padding-left: 1rem;
    }
    .about-me-content{
        padding-left: 1em;
        padding-bottom: 0.5em;
    }
    .about-me-content div h3{
        font-size: 2rem;
    }
    div.media div a i {
        font-size: 3em;
    }
}

div#projects-start {
    bottom: -77%;
    z-index: -1;
    left: 0;
    right: 0;
}
div#projects-2 {
    top: -5%;
    z-index: -1
}
@media (max-width: 576px) {
    div#projects-start svg{
        width: 700px;
    }
    div#projects-2 svg{
        width: 400px;
    }
    div#projects-2{
        top: -20%;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}